.cellStyle {
    /*width: 10vh;*/
    /*height: 10vh;*/
    margin: 0;
    border-width: 0px 0px 1px 1px;
    border-color: lightgray;
}


.selected {
    background-color: greenyellow;
}

.selected:hover {
    background-color: green;
}

.unselected {
    background-color: whitesmoke;
}

.unselected:hover{
    background-color: lightgrey;
}

.source {
    background-color: darkgreen;
}

.source:hover {
    background-color: lawngreen;
}

.destination {
    background-color: red;
}

.destination:hover {
    background-color: darkred;
}

.explored {
    background-color: orange;
}

.explored:hover {
    background-color: darkorange;
}

.blocked {
    background-color: black;
}

.blocked:hover {
    background-color: grey;
}